<c-container class="text-center py-5" [@stepAnimation]>
  <h2 class="display-4 mb-4">Bem-vindo ao Inspektor</h2>
  <p class="lead mb-4">Gerencie seus formulários de checklist com facilidade e controle.</p>

  <div class="button-group">
    <button mat-raised-button color="primary" routerLink="/formularios"
            *ngIf="authService.hasRole([1, 2, 3, 4, 5])">
      Acessar Formulários
    </button>

    <!-- Botão de Relatórios visível para Gestores (3, 4) e Admin (5) -->
    <button mat-raised-button color="accent" routerLink="/relatorios"
            *ngIf="authService.hasRole([3, 4, 5])">
      Visualizar Relatórios
    </button>
  </div>
</c-container>
